.profileItem{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name{
    display: grid;
    grid-template-columns: 50% auto;
    padding: 20px;
    width: 50%;
    border: 1px solid black;
}
p{
    color: gray;
}
span{
    color: black;
    font-weight: 500;
    margin-left: 10px;
}
.lastChild{
    border-left: 2px solid black;
    padding-left: 40px;
    
}
