.mapL {
    position: relative;
    height: 100%;
    width: 95%;
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
}

.leafletContainer {
    height: 100% !important;
    width: 100% !important;
}
