.app{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    grid-template-columns: 20% auto;
    
}
.app__body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}